html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}


.navbar-nav {
    margin-left: auto;
    padding-left: 420px;
}

.navbar-brand:hover {
    text-decoration: none;
    color: white;
}

a.navbar-brand {
    color: white;
    font-family: 'Chillax', sans-serif;
    font-size: 30px;
    font-weight: 450;
    text-decoration: none;
}

img.logo {
    max-width: 70px;
    margin-right: 20px;
}

/*change navbar color*/
.navbar.navbar-expand-lg.navbar-light.fixed-top {
    background-color: #29445F;
    
}

/*options menu*/
.btn.btn-outline-success.me-2 {
    background-color: white;
    border-color: white;
    color: black;
    margin-left: 50px;
}   


/*Login Button*/
.btn.btn-outline-success.my-2.my-sm-0 {
    color: white;
    background-color: #FF6B00;
    border-color: transparent;
    text-decoration: bold;
    border-radius: 20px;
    margin-left: 30px;
}

.Alumni_content .image-content{
    display: flex;
    align-items: stretch;
    margin-top: 150px;
    margin-left: 50px;
}

.Alumni_content .image-content .img-fluid{
    max-width: 400px;
    max-height: 400px;
}

.Alumni_content .image-content .text-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    margin-left: 40px;
    margin-right: 150px;
}

.Alumni_content .image-content .text-content h1 {
    color: #FF6B00;
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

.Alumni_content .image-content .text-content h3 {
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

.Alumni_content .more-content{
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 50px;
    font-size: 20px;
}

.Alumni_content .more-content p{
    font-size: 20px;
    font-family: "Inter", sans-serif;
}

.Alumni_content .more-content h2{
    padding-top: 50px;
    font-size: 32px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

.Alumni_content .more-content .alumni-cards{
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
}

.Alumni_content .more-content .alumni-cards .img-fluid {
    max-width: 400px; 
    max-height: 400px; 
}

footer {
    background-color: #29445F;
}

footer .col.mb-3 img {
    margin-left: 50px;
}

footer .col.mb-3 {
    color: white;
    font-family: 'Inter', sans-serif;
}

footer .col.mb-3 h4 {
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 50px;
    margin-left: 10px;
}

footer .col.mb-3 a.text-body-secondary {
    color: white !important;
    margin-left: 10px;
}

footer .col.mb-3 h5 {
    font-size: 20px;
    margin-left: 10px;
}

