@font-face {
    font-family: 'Chillax';
    src: url('/fonts/Chillax-Medium.otf');
}

body {
    margin: 0;
    padding: 0;
    display: flex;
}

.left {
    flex: 0.4;
    background-color: white;
    padding-top: 10%;
    padding-bottom: 5%;
    padding-left: 2%;
}

.Loginimage {
    width: 90%;
    padding-top: 100px; 
    padding-left: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.right {
    flex: 0.6;
    background-color: #29445F;
    padding-top: 2%;
}

.right .return {
    text-align: right;
}

.right .return a{
    color : white;
    font-size: 30px;
    font-family: "Inter", sans-serif;
    padding-right: 10%;
    flex: auto;
    text-decoration: none;
    
}

.right .login h1{
    color: white;
    font-size: 40px;
    font-family: 'Chillax', sans-serif;
    padding-top: 20px;
    padding-bottom: 10px;
}

.right .login {
    font-family: 'Chillax', sans-serif;
    padding-left: 18%;
    padding-bottom: 30px;
}

.login > div {
    margin-bottom: 20px;
}

#name {
    border-radius: 30px; 
    width: 80%;
    height: 50px;
    line-height: 50%;
    text-indent: 20%;
    background-image: url('/img/User.png');
    background-repeat: no-repeat;
    background-position: 2% 50%; 
    background-size: 7%;
    border: 0px;
    margin-bottom: 70px; 
}

#name:focus {
    background-image: url('/img/User.png');
    background-repeat: no-repeat;
    background-position: 2% 50%; 
    background-size: 7%;
    
}

.right .login .name ::placeholder {
    font-size: 32px;
    font-family: 'Chillax', sans-serif;
}

#password {
    border-radius: 30px; 
    width: 80%;
    height: 50px;
    line-height: 50%;
    text-indent: 20%;
    background-image: url('/img/Lock.png');
    background-repeat: no-repeat;
    background-position: 2% 50%; 
    background-size: 7%;
    border: 0px;
}

#password:focus {
    background-image: url('/img/Lock.png');
    background-repeat: no-repeat;
    background-position: 2% 50%; 
    background-size: 7%;
    
}

.right .login .password ::placeholder {
    font-size: 32px;
    font-family: 'Chillax', sans-serif;
}

.loginbuttons{
    display: flex;
    justify-content: center;
    gap: 100px; 
    padding-top: 30px;
    padding-bottom: 100px;
}

.loginbuttons .registerbut {
    border-radius: 100px; 
    background-color: #FF6B00;
    color: #FFFFFF;
    width: 200px;
    height: 70px;
    font-size: 25px;
    font-family: "Inter", sans-serif;
    border: 0px;
}

.loginbuttons .loginbut {
    border-radius: 100px;
    background-color: #6A849D;
    color: #FFFFFF;
    width: 200px;
    height: 70px;
    font-size: 25px;
    font-family: "Inter", sans-serif;
    border: 0px;
}