.title {
    padding-top: 70px;
    margin-bottom: 50px;
}

.container-eventos,
.container-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 15px; 
    height: auto;
}

.container-projects {
    gap: 60px;
}

.card-img-top {
    height: 300px; 
    width: 100%; 
    object-fit: contain; 
    margin-top: 20px;
}

.card {
    border-color: #29445F;
    border-width: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.btn.btn-primary {
    width: 120px;
    margin-top: auto;
    background-color: #FF6B00;
    border-color: transparent;
}

.btn.btn-primary:hover {
    color: #FF6B00;
    background-color: white;
    border-color: #FF6B00;
}


.btn.btn-primary:hover {
    color: #FF6B00;
    background-color: white;
    border-color: #FF6B00;
}

.footer {
    margin-top: 100px;
}

@media (max-width: 768px) {
    
    .container-projects {
        justify-content: center; 
    }

    .card-img-top {
        height: 200px; 
    }
}

