@font-face {
    font-family: Retro;
    src: url('../fonts/Retro\ Gaming.ttf') format('truetype');
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #151540;
    cursor: url('../assets/dialog/Mouse.png'), auto;
}

#gameContainer {
    position: relative;
    display: none;
}

canvas {
    background-image: url("../assets/backgrounds/SalaAula.png");
}


#inventoryContainer {
    display: none;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.inventory-items {
    position: absolute;
    top: 6%;
    right: 0;
    left: 50%;
    /* Define o ponto de referência para o centro como metade da largura do contêiner pai */
    transform: translateX(-50%);
    /* Move os itens 50% para a esquerda, centralizando-os horizontalmente */
    list-style: none;
    padding: 0;
    margin: 0;
}

.inventory-items div {
    margin-bottom: 18.5%;
}

.inventory-items img {
    width: 95%;
    height: auto;
}

.password-panel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.password-input {
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.confirm-button, .cancel-button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.confirm-button {
    background-color: #4CAF50;
    color: white;
}

.cancel-button {
    background-color: #f44336;
    color: white;
}

.confirm-button:hover, .cancel-button:hover {
    opacity: 0.8;
}

.hidden {
    display: none;
}

.dialog-box {
    font-family: 'Retro', sans-serif;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 80px;
    background-image: url('../assets/dialog/box.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: rgb(0, 0, 0);
    text-align: center;
    pointer-events: none;
    z-index: 1000;
    width: 80%;
    max-width: 600px;
    box-sizing: border-box;
    font-size: 1rem;
}

#dialogText {
    padding: 10px;
}

@keyframes blink {
    0%, 49.99% {
        color: rgb(0, 0, 0);
        /* Primeira cor */
    }

    50%, 100% {
        color: rgb(87, 87, 87);
        /* Segunda cor */
    }
}

.blink {
    animation: blink 2s infinite;
}

#timerContainer {
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px;
    box-shadow: inset 0 0 0 2px #595959;
    background-color: #fff;
}

#timer {
    font-size: 30px;
    font-family: Retro;
}



.math-questions {
    display: none;
    font-family: Retro;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 80px 60px;
    background-image: url('../assets/dialog/box.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: black;
    text-align: left;
    z-index: 1000;
    width: 80%;
    max-width: 600px;
    box-sizing: border-box;
    font-size: medium;
}

.question {
    margin: 0;
    /* Remove todas as margens */
}

.answer-option {
    width: 100%;
    background: none;
    border: none;
    cursor: url('../assets/dialog/Mouse.png'), auto;
    font-size: 14px;
    font-family: Retro;
    text-align: left;
    color: rgba(0, 0, 0, 0.7);
}

.answer-option:hover {
    background-color: rgba(0, 0, 0, 0.134);
    color: rgba(0, 0, 0, 0.963);
}


.pauseMenu-container {
    display: none; /* Inicialmente oculto */
    position: fixed; /* Posição fixa para manter o menu no lugar */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20rem; /* 400px convertido para rem */
    height: 20rem; /* Ajuste a altura conforme necessário */
    text-align: center;
    z-index: 1002; /* Coloca o menu de pausa acima da sobreposição */
}

.pauseMenu-container .pause-menu {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("../assets/menu/menuPause.png");
    cursor: url('../assets/dialog/Mouse.png'), auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; /* Adicionando a imagem de fundo fixa */
    padding: 2.2rem; /* Ajuste o padding conforme necessário */
    box-sizing: border-box;
    font-family: 'Retro', sans-serif;
}

.pause-menu .title {
    color: #333; /* Cor do título */
    font-size: 1.6rem; /* Tamanho do título */
    margin: 0.2rem 0 0.5rem 0; /* Margem inferior */
}

.pause-menu button {
    display: inline-block; /* Alterado para inline-block para centralizar corretamente */
    width: 80%; /* Ajuste a largura conforme necessário */
    margin: 1.2rem auto; /* Centraliza verticalmente e horizontalmente */
    padding: 0.1rem 0;
    font-size: 1.4rem;
    font-family: 'Retro', sans-serif;
    cursor: url('../assets/dialog/Mouse.png'), auto;
    background-color: transparent;
    color: #000000e6; /* Cor do texto */
    border: none;
    border-radius: 0.5rem;
}

.pause-menu button:hover {
    color: #393939; /* Cor do texto ao passar o mouse */
}

/* Efeito de desfoque e opacidade reduzida no fundo da página */
body.menu-blur {
    overflow: hidden; /* Impede a rolagem do corpo quando o menu está aberto */
}

body.menu-blur::before {
    content: ''; /* Pseudo-elemento sem conteúdo */
    position: fixed; /* Pseudo-elemento fixo para cobrir toda a tela */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(1.5px); /* Efeito de desfoque */
    z-index: 1002; /* Coloca o fundo semi-transparente abaixo do menu */
}


.controlsMenu-container {
    display: none; /* Inicialmente oculto */
    position: fixed; /* Posição fixa para manter o menu no lugar */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25rem; /* 400px convertido para rem */
    height: 25rem; /* Ajuste a altura conforme necessário */
    text-align: center;
    z-index: 1002; /* Coloca o menu de pausa acima da sobreposição */
}

.controlsMenu-container .controls-menu {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("../assets/menu/menuPause.png");
    cursor: url('../assets/dialog/Mouse.png'), auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; /* Adicionando a imagem de fundo fixa */
    padding: 2.2rem; /* Ajuste o padding conforme necessário */
    box-sizing: border-box;
    font-family: 'Retro', sans-serif;
}

.controls-menu .subtitle {
    color: #333; /* Cor do título */
    font-size: 1.8rem; /* Tamanho do título */
    margin: 0.5rem 0 1.2rem 0; /* Margem inferior */
}

.controls-menu .controls-list {
    list-style: none; /* Remove os marcadores da lista */
    padding: 0;
    margin: 0;
}

.controls-menu .controls-list li {
    font-size: 0.95rem; /* Tamanho do texto */
    color: #202020; /* Cor do texto */
    margin-bottom: 1rem; /* Espaçamento inferior entre os itens */
    text-align: center; /* Alinhamento do texto à esquerda */
}

.controls-menu .controls-list li img {
    vertical-align: middle; /* Alinha verticalmente as imagens com o texto */
    margin-right: 0.5rem; /* Margem à direita das imagens */
    width: 1.2rem;
}

.goBack-button {
    display: block; /* Botão em bloco */
    width: 100%; /* Largura total */
    padding: 0.5rem 1.5rem; /* Preenchimento interno */
    font-size: 1.2rem; /* Tamanho da fonte */
    font-family: 'Retro', sans-serif;
    cursor: url('../assets/dialog/Mouse.png'), auto;
    background-color: transparent;
    color: rgb(0, 0, 0); /* Cor do texto */
    border: none;
}

.goBack-button:hover {
    color: #555; /* Cor de fundo ao passar o mouse */
}



#minigamePuzzle {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: max-content;
    max-width: 100%;
    min-width: 320px; /* Define uma largura mínima */
    overflow-wrap: break-word; /* Adiciona quebra de palavra para o container */
}

#minigamePuzzle h2 {
    margin: 10px 0 20px 0;
    font-size: 25px;
    color: #343a40;
    font-family: 'Retro', sans-serif;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    border: 2px solid #6c757d;
    gap: 5px;
    background-color: #dee2e6;
    padding: 10px;
    border-radius: 5px;
}

#board img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #dc3545;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    transition: background-color 0.3s;
}

.close-btn:hover {
    background-color: #c82333;
}

#turns-container {
    width: 100%;
    text-align: center;
    overflow-wrap: break-word;
}

#turns {
    margin-top: 10px;
    font-size: 18px;
    color: #495057;
    font-family: 'Retro', sans-serif;
    display: inline-block;
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
}



#adminPainel {
    display: none;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    z-index: 1001;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    font-family: 'Retro', sans-serif;
    width: 12rem;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


#adminPainel h2 {
    margin-top: 0;
    font-size: 1.4rem;
}

#adminPainel button {
    display: block;
    width: 10rem;
    padding: 0.5rem;
    margin: 0.3rem 0;
    font-size: 0.8rem;
    font-family: 'Retro', sans-serif;
    cursor: url('../assets/dialog/Mouse.png'), auto;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s;
}

#adminPainel button:hover {
    background-color: #555;
    cursor: url('../assets/dialog/Mouse.png'), auto;
}

#guessWordGame {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: #f8f9fa;
    /* Cor de fundo clara */
    padding: 20px;
    border-radius: 10px;
    /* Cantos arredondados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Sombra suave */
    text-align: center;
    /* Centralizar texto */
    width: max-content;
    max-width: 100%;
    /* Para garantir que o conteúdo não transborde */
}

#guessWordGame h2 {
    margin: 0 0 20px 0;
    /* Margem em cima e embaixo */
    font-size: 25px;
    color: #343a40;
    /* Cor do texto */
    font-family: 'Retro', sans-serif;
}

#wordInputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    /* Espaçamento entre os inputs */
}

#wordInputs #eachLetter {
    height: 57px;
    width: 56px;
    font-family: 'Retro', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #1ba98c;
    text-align: center;
    border-radius: 5px;
    background: none;
    pointer-events: none;
    text-transform: uppercase;
    border: 1px solid #B5B5B5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Sombra leve */
}

#guessWordGame .typing-input {
    opacity: 0;
    z-index: -999;
    position: absolute;
    pointer-events: none;
}

#guessWordGame .hint, .guessesLeft, .wrongLetters, .rightWords {
    margin: 15px 0;
    /* Margem para espaçar os elementos */
    font-family: 'Retro', sans-serif;
    font-size: 20px;
    color: #393e44;
    /* Cor do texto */
}

#guessWordGame .close-btn {
    cursor: url('../assets/dialog/Mouse.png'), auto;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 14px;
    /* Diminuir tamanho da fonte */
    font-weight: bold;
    color: #fff;
    /* Cor do texto */
    background-color: #dc3545;
    /* Cor de fundo do botão */
    border: none;
    border-radius: 50%;
    /* Botão redondo */
    width: 20px;
    /* Diminuir tamanho do botão */
    height: 20px;
    /* Diminuir tamanho do botão */
    line-height: 20px;
    /* Centralizar texto verticalmente */
    text-align: center;
    transition: background-color 0.3s;
}

#guessWordGame .close-btn:hover {
    background-color: #c82333;
    /* Cor de fundo ao passar o mouse */
}

#guessWordGame .reset-btn {
    display: none;
    width: 100%;
    border: none;
    cursor: url('../assets/dialog/Mouse.png'), auto;
    color: #fff;
    outline: none;
    padding: 15px 0;
    font-family: 'Retro', sans-serif;
    font-size: 20px;
    border-radius: 5px;
    background: #1BB295;
    transition: all 0.3s ease;
}

#guessWordGame .reset-btn:hover {
    background: #18a589;
}

.menu-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
    display: block; /* Alterando de "none" para "block" para tornar o menu visível */
    width: 50rem;
}

.menu {
    background-image: url("../assets/menu/menuImage.png");
    cursor: url('../assets/dialog/Mouse.png'), auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; /* Adicionando a imagem de fundo fixa */
    padding: 1rem 9.5rem 1.5rem 9.5rem;
    text-align: center;
    font-family: 'Retro', sans-serif;
}

.menu .firsttitle {
    color: #333;
    font-size: 2rem;
}

.menu .introduction, .instructions {
    font-size: 1rem;
    color: #000000;
    margin: 0 0 10px 0; /* Adicionando margem inferior */
}

.menu .title, .subtitle {
    font-size: 1.5rem;
    color: #333;
    margin: 0 0 5px 0;
}

.menu .controls-list {
    margin: 0;
    list-style-type: none;
    padding: 0;
}

.menu .controls-list li {
    margin-bottom: 0.1rem;
}

.menu .controls-list li img {
    width: 1.2rem; /* Aumentando o tamanho das imagens das teclas */
    height: 1.2rem; /* Aumentando o tamanho das imagens das teclas */
}

.menu .buttons-container {
    display: flex;
    flex-direction: column; /* Altera para disposição em coluna */
    align-items: center; /* Centraliza os botões na coluna */
    gap: 0.3rem; /* Espaço entre os botões */
    margin-top: 0.5rem;
}

.menu .buttons-container button {
    background: none;
    cursor: url('../assets/dialog/Mouse.png'), auto;
    background-size: contain;
    font-family: 'Retro', sans-serif;
    font-size: 1.6rem; /* Reduzido o tamanho do texto */
    color: #000;
    border: none;
    padding: 0.4rem 0.2rem;
    transition: color 0.3s ease;
    width: 100%; /* Define a largura total do botão */
    text-align: center; /* Centraliza o texto dentro do botão */
}


.menu .buttons-container button:hover {
    cursor: url('../assets/dialog/Mouse.png'), auto;
    color: #3b3b3b;
}

.endGame-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
    display: none;
    width: 50rem;
}

.endGame {
    background-image: url("../assets/menu/menuImage.png");
    cursor: url('../assets/dialog/Mouse.png'), auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; /* Adicionando a imagem de fundo fixa */
    padding: 2rem 7.5rem 2rem 7.5rem;
    text-align: center;
    font-family: 'Retro', sans-serif;
}

.endGame .firsttitle {
    color: #333;
    font-size: 1.6rem;
    margin: 0 0 1rem 0;
}

.endGame .introduction, .instructions {
    font-size: 1rem;
    color: #000000;
    margin: 0 0 1rem 0; /* Adicionando margem inferior */
}

.endGame .title, .subtitle {
    font-size: 1.5rem;
    color: #333;
}

.endGame .stats-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: left;
}

.endGame .stats-column {
    flex: 1;
    padding: 0 1rem;
}

.endGame .stats-column h3 {
    text-align: center;
    margin: 1rem 0 0.5rem 0;
    font-size: 1.2rem;
    color: #960013;
}

.endGame .stats-column ul {
    list-style-type: none;
    padding: 0;
}

.endGame .stats-column li {
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
}

.endGame .stats-column span {
    font-weight: bold;
}

.endGame .buttons-container {
    display: flex;
    flex-direction: column; /* Altera para disposição em coluna */
    align-items: center; /* Centraliza os botões na coluna */
    gap: 0.3rem; /* Espaço entre os botões */
    margin-top: 0.5rem;
}

.endGame .buttons-container button {
    background: none;
    cursor: url('../assets/dialog/Mouse.png'), auto;
    background-size: contain;
    font-family: 'Retro', sans-serif;
    font-size: 1.4rem; /* Reduzido o tamanho do texto */
    color: #000;
    border: none;
    padding: 0.4rem 0.2rem;
    transition: color 0.3s ease;
    width: 100%; /* Define a largura total do botão */
    text-align: center; /* Centraliza o texto dentro do botão */
}

.endGame .buttons-container button:hover {
    cursor: url('../assets/dialog/Mouse.png'), auto;
    color: #3b3b3b;
}

.leaderboard-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
    display: none;
    width: 50rem;
}

.leaderboard {
    background-image: url("../assets/menu/menuImage.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; /* Imagem de fundo fixa */
    padding: 2rem 7.5rem 2rem 7.5rem;
    text-align: center;
    font-family: 'Retro', sans-serif;
    color: #333; /* Cor do texto */
}

.leaderboard h2 {
    font-size: 2rem;
    margin: 0 0 15px 0;
}

.leaderboard .table-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente para destacar a tabela */
    border-radius: 10px;
    overflow: hidden; /* Garante que a borda arredondada seja aplicada corretamente */
}

.leaderboard table {
    width: 100%;
    border-collapse: collapse;
}

.leaderboard th, .leaderboard td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid white; /* Linhas divisórias brancas */
}

.leaderboard th {
    background-color: rgba(255, 255, 255, 0.1); /* Cor de fundo para cabeçalhos */
}

.leaderboard tbody tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.1); /* Cor de fundo alternada para linhas pares */
}

.leaderboard tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Cor de fundo ao passar o mouse */
}